# 1)

In [6]:
for i in range(5):
    for j in range(5):
        print("*",end='')
    print()

*****
*****
*****
*****
*****

# 2)

In [8]:
for i in range(5):
    for j in range(i+1):
        print("*",end='')
    print()

*
**
***
****
*****

# 3)

In [12]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555

# 4)

In [13]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

# 5)

In [3]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end='')
    print()

*****
****
***
**
*

# 6)

In [24]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

12345
1234
123
12
1

# 7)

In [34]:
n=5
def full_pyramid(n):
    for i in range(1, n + 1):
        print()
        for j in range(n - i):
            print(" ", end="")
         
        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")

full_pyramid(n)

    *
   ***
  *****
 *******
*********

In [5]:

def full_pyramid(n):
    for i in range(n):
        
        for j in range(n - i-1):
            print(" ", end="")
         
        # Print asterisks for the current row
        for j in range(2*i+1):
            print("*", end="")
            
        print()

full_pyramid(5)

    *
   ***
  *****
 *******
*********

# 8)

In [44]:
n=5
def full_pyramid(n):
    for i in range(n,0,-1):
        print()
        for j in range(n - i,0,-1):
            print(" ", end="")
         
        # Print asterisks for the current row
        for k in range(2*i-1,0,-1):
            print("*", end="")

full_pyramid(n)

*********
 *******
  *****
   ***
    *

In [8]:

def full_pyramid(n):
    for i in range(n):
        # space
        for j in range(i+1):
            print(" ", end="")
         
        # Print asterisks for the current row
        for j in range(2*(n-i)-1,0,-1):
            print("*", end="")
            
        print()

full_pyramid(5)

 *********
  *******
   *****
    ***
     *

# 9)

In [46]:
def full_pyramid(n):
    for i in range(1, n + 1):
        print()
        for j in range(n - i):
            print(" ", end="")
         
        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")
    
    for i in range(n,0,-1):
        print()
        for j in range(n - i,0,-1):
            print(" ", end="")
         
        # Print asterisks for the current row
        for k in range(2*i-1,0,-1):
            print("*", end="")       
full_pyramid(5)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

# 10)

In [48]:
for i in range(5):
    for j in range(i+1):
        print("*",end='')
    print()
for i in range(4,0,-1):
    for j in range(i,0,-1):
        print("*",end='')
    print()

*
**
***
****
*****
****
***
**
*

# 11)

In [15]:
c=1
for i in range(5):
    for j in range(i+1):
        print(c,end=' ')
        c=c+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

# 13)

In [12]:
strt=1
for i in range (5):
    if (i%2 == 0):
        strt=1
    else: strt=0
    for j in range(i+1):
        print(strt, end=' ')
        strt=1-strt
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

# 14)

In [14]:
def pt(n):
    for i in range(n):
        # number
        for j in range(i+1):
            print(j+1,end=' ')
        # space
        for j in range(2*(n-i-1),0,-1):
            print(" ", end=' ')
        #number in reverse
        for j in range(i+1,0,-1):
            print(j,end=' ')
        print()
pt(5)

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

# 15)

In [55]:
spaces = 0
for i in range (4,0,-1):
    #num
    for j in range(i,0,-1):
        print(j, end=' ') 

    #space
    for j in range(spaces):
        print(' ', end=' ' )
    
    #num
    for j in range(1,i+1):
        print(j, end=' ')
  
    spaces=spaces+2
    print()
    
space=6
for i in range (1,5):
    #num
    for j in range(1,i+1):
        print(j, end=' ')
    #space
    for j in range(space):
        print(' ', end=' ' )
    #num
    for j in range(i,0,-1):
        print(j, end=' ')   
    space=space-2
    print()

4 3 2 1 1 2 3 4
3 2 1     1 2 3
2 1         1 2
1             1
1             1
1 2         2 1
1 2 3     3 2 1
1 2 3 4 4 3 2 1

In [58]:
spaces = 0
for i in range (5,0,-1):
    #num
    for j in range(i,0,-1):
        print('*', end=' ') 

    #space
    for j in range(spaces):
        print(' ', end=' ' )
    
    #num
    for j in range(1,i+1):
        print('*', end=' ')
  
    spaces=spaces+2
    print()
    
space=8
for i in range (1,6):
    #num
    for j in range(1,i+1):
        print('*', end=' ')
    #space
    for j in range(space):
        print(' ', end=' ' )
    #num
    for j in range(i,0,-1):
        print('*', end=' ')   
    space=space-2
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

# 16)

In [61]:
space=6
for i in range (1,5):
    #num
    for j in range(1,i+1):
        print('*', end=' ')
    #space
    for j in range(space):
        print(' ', end=' ' )
    #num
    for j in range(i,0,-1):
        print('*', end=' ')   
    space=space-2
    print()

spaces = 2
for i in range (3,0,-1):
    #num
    for j in range(i,0,-1):
        print('*', end=' ') 

    #space
    for j in range(spaces):
        print(' ', end=' ' )
    
    #num
    for j in range(1,i+1):
        print('*', end=' ')
  
    spaces=spaces+2
    print()

*             *
* *         * *
* * *     * * *
* * * * * * * *
* * *     * * *
* *         * *
*             *

# 17)

In [63]:
spaces = 0
for i in range (2,0,-1):
    #num
    for j in range(i,0,-1):
        print('*', end=' ') 

    #space
    for j in range(spaces):
        print(' ', end=' ' )
    
    #num
    for j in range(1,i+1):
        print('*', end=' ')
  
    spaces=spaces+2
    print()
    
space=2
for i in range (1,3):
    #num
    for j in range(1,i+1):
        print('*', end=' ')
    #space
    for j in range(space):
        print(' ', end=' ' )
    #num
    for j in range(i,0,-1):
        print('*', end=' ')   
    space=space-2
    print()

* * * *
*     *
*     *
* * * *

# 18)

In [66]:
def ptt(n):
    for i in range(2*n-1):
        for j in range(2*n-1):
            top=i
            btm=(2*n - 2)- i
            left=j
            right=(2*n - 2)- j
            k= min(min(top,btm),min(left,right))
            print(n-k, end=' ')
        print()

In [67]:
ptt(4)

4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

# 19)

In [3]:
for i in range(5):
    for j in range(i+1):
        print(chr(65 + j), end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [17]:
for i in range(5):
    for j in range(i+1):
        print(chr(65+j), end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

# 20)

In [2]:
for i in range(5,0,-1):
    for j in range(i):
        print(chr(65 + j), end=' ')
    print()

A B C D E
A B C D
A B C
A B
A

# 21)

In [13]:
for i in range(5):
    for j in range(i+1):
        print(chr(65 + i), end=' ')
    print()

A
B B
C C C
D D D D
E E E E E

# 22)

Variation 1

In [14]:
for i in range(5):
    for j in range(i+1):
        print(chr(69 - j), end=' ')
    print()

E
E D
E D C
E D C B
E D C B A

Variation 2

In [21]:
for i in range(5,0,-1):
    for j in range(i-1,-1,-1):
        print(chr(65+ j), end=' ')
    print()

E D C B A
D C B A
C B A
B A
A

final

In [35]:
def ptt(n):
    for i in range(n):
        for j in range(i+1,0,-1):
            print(chr((65+n) - j), end=' ')
        print()

In [36]:
ptt(5)

E
D E
C D E
B C D E
A B C D E

# 23)

In [82]:
n=4
def full_pyramid(n):
    for i in range(1, n+1):
        
        for j in range(n - i):
            print(" ", end=" ")
         
        # Print asterisks for the current row
        for k in range(i):
            print(chr(65 + k), end=" ")
            
        #second smaller number pyramid
        for k in range(i-1,0,-1):
            print(chr(65 + k-1), end=" ")
            
        print()

full_pyramid(n)

      A
    A B A
  A B C B A
A B C D C B A

In [39]:
def pyra(n):
    for i in range(n):
        #space
        for j in range((n-i)-1,0,-1):
            print(' ', end=' ')
        #letter
        for j in range(i+1):
            print(chr(65+j), end=' ')
        #letter
        for j in range(i,0,-1):
            print(chr(65+j-1), end=' ')
        print()

In [40]:
pyra(4)

      A
    A B A
  A B C B A
A B C D C B A

In [3]:
for i in range(5,0,-1):
    for j in range(i):
        print(chr(65+j), end=' ')
    print()

A B C D E
A B C D
A B C
A B
A